body{
    background-color: #F9DBBA;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    text-align: center;
    font: 100;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input{
    padding: 10px 20px;
    font-size: 16px;
}
button{
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

#getweather{
    margin-top: 20px;
}